<!DOCTYPE html>
  <html>
    <head>
      <title>Cats</title>

      <style>
        img {
          border: 5px dashed red;
          margin: 20px;
          /* padding-right: 40px; */
        }
      </style>
    
    </head>

    <body>
      <% if @cat_name %>
        <h1>My name is <%= @cat_name %></h1>
      <% end %>
      <form action="/named-cat">
        <input type="text" name="name">
        <input type="submit" value="Submit">
      </form>

      <img src="https://i.imgur.com/jFaSxym.png" alt="A cat" width="500" height="600">
    
    
    </body>
  </html>