<!DOCTYPE html>
  <html>
    <head>
      <title>Cats</title>

      <style>
        img {
          border: dashed red;
          margin: 20px;
          padding-right: 40px;
        }
      </style>
    </head>

    <body>
    
    <h1> My name is: <%= ["Amigo", "Mel", "Almond"].sample %> </h1>
      <img src="https://i.imgur.com/jFaSxym.png" alt="A cat" width="500" height="600">
    </body>
  </html>